
.hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    color: white;
  }
  
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
  
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}
  
.heading {
    font-size: 3rem;
   
}
  
.recent-projects-section {
  padding: 1rem 0;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.recent-projects-section  h2{
  margin-left: 570px;
  font-size:3rem;
  margin-bottom: 30px;
  margin-top: 30px;
 
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.project-card h3{
  margin-left: 1rem;
  text-align: center;
}

.project-card {
  background: white;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project-card {
  animation: fadeInUp 0.5s ease forwards;
}


.venue-finder-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-image: url('/src/assests/Venue.png'); /* Use the path to your uploaded image */
}
.venue-finder-button {
  background-color: #ffffffd6;
  color: #43424259;
  padding: 0.5rem 1rem;
  margin-top: 163px;
  width: 160px;
  height: 45px;
  border: black solid 1px;
  border-radius: 1px;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 10px;
}

